<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lei.com.yulei.quarter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".activity.app"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.login_view.Login_Activity" />
        <activity android:name=".login.login_view.Login2_Activity" />
        <activity android:name=".register.reg_view.reg_Acriviry" />
        <activity android:name=".creation.creation_view.Creation_Activity" />
        <activity android:name=".creation.creation_view.Writejokes_Activity" />
        <activity android:name=".creation.creation_view.Postvideos_Activity" />
        <activity android:name=".videodetails.videodetails_view.Videodetails_Activity" />
        <activity android:name=".Personalworkscentre.Centre_view.Center_Activity"></activity>
    </application>

</manifest>